[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio
